/* about-set style */
.about-wrap {
  .about-item {
    padding-block: 12px;

    .about-title {
      color: var(--primary);
      font-size: var(--label-L);
    }
    .about-description {
      padding-block-start: 12px;
      font-size: var(--p-M);
    }
  }

  .about-button {
    position: relative;
    text-decoration: none;
    font-size: var(--label-M);
    &:focus-visible {
      outline-color: var(--accent);
    }
    &:visited {
      color: inherit;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      background-color: var(--content-primary);
      width: 100%;
      height: 1px;
    }
  }
}
