/* about-set style */
.about-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 40px 24px;

  @media (width >= 850px) {
    flex-direction: row;
    padding: 32px 56px;
  }

  @media (width >= 1680px) {
    width: 1280px;
    margin-inline: auto;
    padding: 64px;
  }
}
.about-wrap {
  flex: 1;

  .about-img-box {
    padding-block: 3px;
    padding-inline: 5px;
  }
  .about-item {
    padding-block: 12px;

    .about-title {
      color: var(--primary);
      font-size: var(--label-L);
    }
    .about-description {
      padding-block-start: 12px;
      font-size: var(--p-M);
    }
  }

  .about-button {
    position: relative;
    text-decoration: none;
    font-weight: var(--label-weight);
    font-size: var(--label-M);
    padding: 4px;
    &:focus-visible {
      outline-color: var(--accent);
    }
    &:visited {
      color: inherit;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      background-color: var(--content-primary);
      width: 100%;
      height: 1px;
    }
  }
}


/* banner style */
.banner-section {
  width: 100%;
  max-height: 256px;
  aspect-ratio: 1/0.5;
  background-image: url('../images/UberTaxi_small.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  @media (width >= 850px) {
    max-height: 359px;
    background-image: url('../images/UberTaxi_tablet.svg');

    .banner-wrap {
      padding: 56px 32px;
      min-height: 359px;
      .banner-title {
        font-size: var(--h-XXL);
      }
    }
  }

  @media (width >= 1680px) {
    max-height: 399px;
    padding: 0;
    background-image: url('../images/UberTaxi.svg');

    .banner-wrap {
      padding-block-start: 64px;
      margin-inline: auto;
      width: 1280px;
    }
  }
}

.banner-wrap {
  padding: 40px 24px;
  width: 100%;

  .banner-title {
    font-weight: var(--heading-weight);
    font-size: var(--h-XL);
    color: var(--primary);
  }

  .banner-description {
    margin-block-start: 28px;
    font-size: var(--label-M);
    color: var(--primary);
    font-weight: var(--label-weight);
  }

  .banner-button {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    margin-block-start: 28px;
    font-size: var(--label-M);
    font-weight: var(--label-weight);
    background-color: var(--primary);
    color: var(--secondary);
    border: none;

    &:focus-visible {
      outline: 1px solid var(--accent);
    }

    img {
      padding: 4px;
      margin-inline-end: 4px;
    }

    &:disabled {
      background-color: var(--content-secondary);
    }
  }
}
