/* header style */
.header {
  display: flex;
  padding-block: 12px;
  background-color: var(--primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 24px;

  @media (width >= 1680px) {
    width: 1280px;
    margin-inline: auto;
  }
}

.nav-logo-wrap {
  margin-inline-end: 25px;

  .nav-logo {
    width: 39px;
    height: 39px;
  }
}

.nav-wrap {
  display: none;
  flex: 1;
  align-items: center;
  gap: 4px;

  @media (width >= 1680px) {
    display: flex;
  }

  .nav-item {
    &:first-child {
      .nav-item-link {
        padding: 0;
      }
    }

    .nav-item-link {
      display: flex;
      padding: 8px;
      color: var(--secondary);
      font-size: var(--label-M);
      font-weight: var(--label-weight);
      cursor: pointer;
      text-decoration: none;

      :visited {
        color: inherit;
      }

      .icon-more {
        margin-inline-start: 4px;
      }
    }
  }
}

.nav-dropdown {
  position: relative;

  .sub-nav-wrap {
    display: none;
  }

  &:hover {
    .sub-nav-wrap {
      position: absolute;
      display: block;
      top: 34px;
      left: 0;
      width: 100%;

      .sub-nav-item {
        background-color: var(--primary);
        padding-block: 10px;
        text-align: center;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

/* 햄버거 버튼 */
.nav-hamburger {
  display: flex;
  align-items: center;
}

.button-global {
  display: none;
  align-items: center;
  padding: 0;
  line-height: 1;
  font-weight: var(--heading-weight);
  font-size: var(--h-L);
  color: var(--secondary);
  background-color: transparent;
  border: none;

  img {
    margin-inline-end: 4px;
  }

  @media (width >= 1680px) {
    display: flex;
  }
}

.button-join {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 22px;
  font-size: var(--label-M);
  font-weight: var(--label-weight);
  background-color: var(--secondary);
  color: var(--primary);
  margin-left: 12px;

  :visited {
    color: inherit;
  }
}

.button-hamburger {
  margin-left: 12px;
  cursor: pointer;

  @media (width >= 1680px) {
    display: none;
  }
}

.hamburger-wrap {
  display: none;
  /* display: contents; */

  a {
    text-decoration: none;
    color: var(--secondary);
    :visited {
      color: inherit;
    }
  }
}
