/* CSS 스타일을 작성해 주세요. */
/* banner style */
.banner-section {
  width: 100%;
  max-height: 256px;
  aspect-ratio: 1/0.5;
  background-image: url('../images/UberTaxi_small.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  @media (width >= 850px) {
    max-height: 359px;
    background-image: url('../images/UberTaxi_tablet.svg');

    .banner-wrap {
      padding: 56px 32px;
      min-height: 359px;
      .banner-title {
        font-size: var(--h-XXL);
      }
    }
  }

  @media (width >= 1680px) {
    max-height: 399px;
    padding: 0;
    background-image: url('../images/UberTaxi.svg');

    .banner-wrap {
      padding-block-start: 64px;
      margin-inline: auto;
      width: 1280px;
    }
  }
}

.banner-wrap {
  padding: 40px 24px;
  width: 100%;

  .banner-title {
    font-weight: var(--heading-weight);
    font-size: var(--h-XL);
    color: var(--primary);
  }

  .banner-description {
    margin-block-start: 28px;
    font-size: var(--label-M);
    color: var(--primary);
    font-weight: var(--label-weight);
  }

  .banner-button {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    margin-block-start: 28px;
    font-size: var(--label-M);
    font-weight: var(--label-weight);
    background-color: var(--primary);
    color: var(--secondary);
    border: none;

    &:focus-visible {
      outline: 1px solid var(--accent);
    }

    img {
      padding: 4px;
      margin-inline-end: 4px;
    }

    &:disabled {
      background-color: var(--content-secondary);
    }
  }
}

/* header style */
.header {
  display: flex;
  padding-block: 12px;
  background-color: var(--primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 24px;

  @media (width >= 1680px) {
    width: 1280px;
    margin-inline: auto;
  }
}

.nav-logo-wrap {
  margin-inline-end: 25px;

  .nav-logo {
    width: 39px;
    height: 39px;
  }
}

.nav-wrap {
  display: none;
  flex: 1;
  align-items: center;
  gap: 4px;

  @media (width >= 1680px) {
    display: flex;
  }

  .nav-item {
    &:first-child {
      .nav-item-link {
        padding: 0;
      }
    }

    .nav-item-link {
      display: flex;
      padding: 8px;
      color: var(--secondary);
      font-size: var(--label-M);
      font-weight: var(--label-weight);
      cursor: pointer;
      text-decoration: none;

      :visited {
        color: inherit;
      }

      .icon-more {
        margin-inline-start: 4px;
      }
    }
  }
}

.nav-dropdown {
  position: relative;

  .sub-nav-wrap {
    display: none;
  }

  &:hover {
    .sub-nav-wrap {
      position: absolute;
      display: block;
      margin-top: 19px;
      left: 50%;
      translate: -50% 0;

      .sub-nav-item {
        background-color: var(--primary);
        padding-block: 10px;
        text-align: center;

        padding: 10px 15px;
        white-space: nowrap;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

/* 햄버거 버튼 */
.nav-hamburger {
  display: flex;
  align-items: center;
}

.button-global {
  display: none;
  align-items: center;
  padding: 0;
  line-height: 1;
  font-weight: var(--heading-weight);
  font-size: var(--h-L);
  color: var(--secondary);
  background-color: transparent;
  border: none;

  img {
    margin-inline-end: 4px;
  }

  @media (width >= 1680px) {
    display: flex;
  }
}

.button-join {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 22px;
  font-size: var(--label-M);
  font-weight: var(--label-weight);
  background-color: var(--secondary);
  color: var(--primary);
  margin-left: 12px;
  &:focus-visible {
    outline-color: var(--accent);
  }

  :visited {
    color: inherit;
  }
}

.button-hamburger {
  margin-left: 12px;
  cursor: pointer;

  @media (width >= 1680px) {
    display: none;
  }
}

.hamburger-wrap {
  display: none;
  /* display: contents; */

  a {
    text-decoration: none;
    color: var(--secondary);
    :visited {
      color: inherit;
    }
  }
}




/* footer */
footer {
  position: relative;
  display: flex;
  flex-flow: nowrap column;
  background: var(--primary);
  padding: 2.5rem 1.5rem;

  a {
    text-decoration: none;
    color: var(--secondary);
  }

  .logo-area {
    display: flex;
    flex-flow: nowrap column;

    svg {
      inline-size: 40px;
      block-size: 20px;
      margin-block-end: 1.75rem;
      margin: 0;
    }
    .customer-service {
      font-size: 1rem;
      padding-block-start: 1.75rem;
    }
  }

  .footer-menu {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding-block-start: 4rem;

    .footer-menu-list {
      font-size: 1.25rem;
      font-weight: var(--p-weight);
      color: var(--secondary);

      li {
        font-size: 1rem;
        font-weight: 600;
        padding-block-start: 1.25rem;
      }
    }
  }

  .footer-url {
  }
}
