:root {
  /* spacing */
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-44: 2.75rem;
  --spacing-48: 3rem;
  --spacing-52: 3.25rem;
  --spacing-56: 3.5rem;
  --spacing-60: 3.75rem;
  --spacing-64: 4rem;

  /* typography */
  /* heading */
  --heading-weight: 700;
  --h1-size: 3.1575rem;
  --h2-size: 2.35rem;
  --h3-size: 1.775rem;
  --h4-size: 1rem;

  /* label */
  --label-weight: 500;
  --label1-size: 2.3687rem;
  --label2-size: 1.775rem;
  --label3-size: 1.3313rem;
  --label4-size: 1rem;
  --label5-size: 0.75rem;

  /* paragraph */
  --p-weight: 700;
  --p1-size: 1.775rem;
  --p2-size: 1.3313rem;
  --p3-size: 1rem;
  --p4-size: 0.75rem;

  /* color palette */
  --primary: #121212;
  --secondary: #fff;
  --tertiary: #f5f5f5;
  --accent: #276ef1;
  --negative: #e11900;
  --warning: #ffc043;
  --positive: #048848;

  --content-primary: #000000;
  --content-secondary: #6b6b6b;
  --content-tertiary: #a6a6a6;

  --border-opaque: #898989;
  --border-transparent: rgba(137 137 137/ 30%);

  --positive-transparent: rgba(4 136 72 / 10%);
  --negative-transparent: rgba(225 25 0 / 10%);
}
